{% extends 'layout.html' %}
{% block main %}
<h1 class="mb-4">
    {% if incident %}
        Edit incident
    {%else %}
        Create New incident
    {% endif %}
</h1>
{%if error %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>

{% endif %}
<form method="post">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" required value="{{incident.title if incident else ''}}"><br>
    <label for="description">Description</label><br>
    <input id="description" name="description" required value="{{incident.description if incident else ''}}"><br>
    <label for="status">Status</label><br>
    <input id="status" name="status" required value="{{incident.status if incident else ''}}"><br>
    <label for="priority">Priority</label><br>
    <input id="priority" name="priority" required value="{{incident.priority if incident else ''}}"><br>
    <label for="impact">Impact</label><br>
    <input id="impact" name="impact" required value="{{incident.impact if incident else ''}}"><br>
    <label for="assignee_id">Assignee ID</label><br>
    <input id="assignee_id" name="assignee_id" required value="{{incident.assignee_id if incident else ''}}"><br>
    <label for="incident_type">Incident Type</label><br>
    <input id="incident_type" name="incident_type" required value="{{incident.incident_type if incident else ''}}"><br>
    <label for="software_id">Root Cause</label><br>
    <input id="software_id" name="Software ID" required value="{{incident.software_id if incident else ''}}"><br>
    <label for="hardware_id">Hardware ID</label><br>
    <input id="hardware_id" name="hardware_id" required value="{{incident.hardware_id if incident else ''}}"><br>
    <label for="reported_time">Reported Time</label><br>
    <input id="reported_time" name="reported_time" required value="{{incident.reported_time if incident else ''}}"><br>
    <label for="resolved_time">Resolved Time</label><br>
    <input id="resolved_time" name="resolved_time" required value="{{incident.resolved_time if incident else ''}}"><br>


    <button type="submit" class="btn btn-success">
        {% if incident %}
            Update incident
        {% else %}
            Create incident
        {% endif %}
    </button>
    <a  href="{{url_for('incident.incident_list') }}" class="btn btn-secondary" role="button">Cancel</a>




</form>

{% endblock %}