{% extends 'layout.html' %}

{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Welcome {{g.user.first_name}}</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                    <button type="button"
                            class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
                        This week
                    </button>
                </div>
            </div>

            <h2>System Summary</h2>
            <div style="width: 800px;">
                <canvas id="secuirty-summary"></canvas>
            </div>

{% endblock %}

{% block script %}

(async function() {
  const data = [
    { type: 'Critical', count: {{summary['CRITICAL'] if summary['CRITICAL'] else 0}} },
    { type: 'High', count:  {{summary['HIGH'] if summary['HIGH'] else 0}} },
    { type: 'Medium', count:  {{summary['MEDIUM'] if summary['MEDIUM'] else 0}} },
    { type: 'Low', count: {{summary['LOW'] if summary['LOW'] else 0}} }
  ];

  new Chart(
    document.getElementById('secuirty-summary'),
    {
      type: 'bar',
      data: {
        labels: data.map(row => row.type),
        datasets: [
          {
            label: 'Vulnerabilities',
            data: data.map(row => row.count),
            backgroundColor: [
                            'rgba(255, 99, 132, 0.6)',   // CRITICAL - Red
                            'rgba(255, 159, 64, 0.6)',   // HIGH - Orange
                            'rgba(255, 205, 86, 0.6)',   // MEDIUM - Yellow
                            'rgba(75, 192, 192, 0.6)',   // LOW - Teal
                            'rgba(201, 203, 207, 0.6)'   // INFO - Grey
                        ],
            borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(255, 205, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(201, 203, 207, 1)'
                        ],
            borderWidth: 1,
          }
        ]
      },
      options:{
            responsive:true,
            scales: {
                y: {
                    beginAtZero: true,
                    ticks : {
                        stepSize: 1 //  Forces steps of 1  so only full intgers
                    }
                    }
            }

        }
    }
  );
})();


{% endblock %}