{% extends 'layout.html' %}

{% block main %}
<h1>Incident!</h1>
{% if 'VIEW_ADMIN' in g.permissions %}
        <a class="btn btn-primary my-3" href="{{url_for('incident.create_incident') }}" role="button">Create Incident</a>
{% endif %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Incident ID</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Priority</th>
        <th scope="col">Impact</th>
        <th scope="col">Assignee_id</th>
        <th scope="col">Incident Type</th>
        <th scope="col">Software ID</th>
        <th scope="col">Hardware ID</th>
        <th scope="col">Reported Time</th>
        <th scope="col">Resolved Time</th>
        <th scope="col">Updated</th>
        <th scope="col">Action</th>

    </tr>
    </thead>
    <tbody>
    {% for incident in incidents %}

    <tr>
        <th scope="row">{{incident.id}}</th>
        <td>{{incident.title}}</td>
        <td>{{incident.description}}</td>
        <td>{{incident.status}}</td>
        <td>{{incident.priority}}</td>
        <td>{{incident.impact}}</td>
        <td>{{incident.assignee_id}}</td>
        <td>{{incident.incident_type}}</td>
        <td>{{incident.software_id}}</td>
        <td>{{incident.hardware_id}}</td>
        <td>{{incident.reported_time}}</td>
        <td>{{incident.resolved_time}}</td>
        <td>{{incident.updated_at}}</td>



        <td>
            <a href="{{ url_for('incident.edit_incident', incident_id=incident.id) }}" type="button" class="btn btn-secondary btn-sm">Edit</a>


            <form method="post" action="{{ url_for('incident.delete_incident', incident_id=incident.id)}}" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete')">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>

        </td>
    </tr>
    {% else %}
    <tr>

        <td colspan="14" class=text-center> No Incidents Found</td>

    </tr>
    {% endfor %}


    </tbody>
</table>

{% endblock %}