{% extends 'layout.html' %}

{% block main %}
<h1 class="my-5">Security</h1>
<form method="get" class="row my-4">
<div class="col-md-4">
    <input type="text" name="search" class="form-control" placeholder="Search for products.." value="{{request.args.get('search', '')}}">
</div>
<div class="col-md-4">
    <select class="form-select" name="severity">
      <option selected disabled> Filter severity</option>
        <option value="CRITICAL" {% if request.args.get('severity') == 'CRITICAL' %} selected {% endif %}>CRITICAL</option>
        <option value="HIGH" {% if request.args.get('severity') == 'HIGH' %} selected {% endif %}>HIGH</option>
        <option value="MEDIUM" {% if request.args.get('severity') == 'MEDIUM' %} selected {% endif %}>MEDIUM</option>
        <option value="LOW" {% if request.args.get('severity') == 'LOW' %} selected {% endif %}>LOW</option>
    </select>
</div>

<div class="col-md-4">
    <button type="submit" class="btn btn-secondary">Search</button>
    <a href="{{url_for('security.vulnerability_list')}}" type="button" class="btn btn-outline-secondary">Clear</a>

</div>
</form>

<table class="table">
    <thead>
    <tr>
        <th scope="col">CVE ID</th>
        <th scope="col">Severity</th>
        <th scope="col">CVSS Score</th>
        <th scope="col">Vendor</th>
        <th scope="col">Product</th>
        <th scope="col">Version</th>
        <th scope="col">Description</th>
        <th scope="col">Hardware Name</th>
        <th scope="col">Hardware Location</th>
        <th scope="col">Action</th>




    </tr>
    </thead>
    <tbody>
    {% for software, hardware, vulnerability, incident in results %}

    <tr class="{{vulnerability.severity | severity_class}}">
        <th scope="row">{{vulnerability.cve_id}}</th>
        <td>{{vulnerability.severity}}</td>
        <td>{{vulnerability.cvss_score}}</td>
        <td>{{vulnerability.vendor}}</td>
        <td>{{vulnerability.product}}</td>
        <td>{{software.version}}</td>
        <td>{{vulnerability.description}}</td>
        <td>{{hardware.name}}</td>
        <td>{{hardware.location}}</td>



        <td>
            {% if incident %}
             <a href="{{url_for('incident.edit_incident', incident_id=incident.id) }}" type="button" class="btn btn-outline-secondary btn-sm">EDIT Incident</a>
            {% else %}
            <a href="{{url_for('incident.create_incident') }}?cve_id={{vulnerability.cve_id}}&prefill_software_id={{software.id}}" type="button" class="btn btn-secondary btn-sm">Create Incident</a>
            {% endif %}


        </td>
    </tr>
    {% else %}
    <tr>

        <td colspan="10" class=text-center> System Secure </td>

    </tr>
    {% endfor %}


    </tbody>
</table>



{% endblock %}